@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194)
 / #ebccc2 / #fff / rgb(115, 115, 115)  */
 /* font-family: 'Work Sans', sans-serif; */
 /* Rendering */
 *{
     margin: 0;
     padding:0;
 }
 body{
     background-color: #2e2e2e;
 }
 /* Global Stylings */
 h1,h2{
     color:rgb(234, 204, 194);
     font-family: 'Work Sans', sans-serif;
     
 }
 a{
     color:#ebccc2;
     text-decoration-line: none;
     font-family: 'Work Sans', sans-serif;
     font-size:14px;
 }
 a:hover{
    color:#fff;
 }
 ul{
    list-style: none;
 }
 p{
    color: #867772;
    font-family:'Work Sans', sans-serif ;
 }
 
/* Global Styling End */
/* Header Styling */
 nav{
     width:100vw;
     height:70px;
     display:flex;
     justify-content:space-between;
     align-items:center;
     position:fixed;
     top:0;
     margin-bottom:15vh;
 }
 /* ------------------------------ */
 nav img{
     margin-left:3vw;
 }
 /* ----------------------------------- */
 nav ul{
     width:40vw;
     display:flex;
     justify-content:space-evenly;
     margin-right:3vw;
 }
 /* --------------------------------- */
 nav ul li:nth-child(2) a{
 margin:0 10px;
 }
 /* ---------------------------- */
 nav a:hover{
     text-decoration:underline;
}
/* ----------------aside---------------- */
aside{
position:fixed;
top:30vh;
left:2vw;
width:8vw;
display:flex;
justify-content:space-between;
}
/* ---------------------------- */
aside ul:nth-child(1) li{
 margin-bottom:2.4vh;
 
}
/* ---------------------------- */
aside ul:nth-child(2) li{
    margin-bottom:9.3vh;
}
/* -------------------------------- */
   aside ul:nth-child(2) li a{
       font-size:12px;
}
/* ---------------------------------- */
aside ul li div:nth-child(1){
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    width:1.2vw;
    height:1.2vw;
    border:2px solid  rgba(255, 255, 255, 0) ;
    border-radius:50%;
}  
/* --------------------------------------------- */
aside ul li:nth-child(2) div:nth-child(1){
border:2px solid #fff;
}
/* ---------------------------------------- */
aside ul li div span{
    width:0.6vw;
    height:0.6vw;
    border:2px solid rgb(115, 115, 115);
    border-radius:50%;
   
}
/* -------------------------------- */
aside ul li div:nth-child(2) {
    width:0.1vw;
    height:6.2vh;
    margin-top:2px;
    background-color:rgb(115, 115, 115);
    margin-left:10px;
}
/* ----------------article-------------------- */
article{
 display:flex;
 justify-content:space-between;
}
article div:nth-child(1){
    width:55vw;
    background-image: url('../img/vo.jpg');
    background-size:cover;
    background-position-x: -200px;
    background-repeat:no-repeat;
}
article div:nth-child(2){
    margin:0;
    padding:20vh 1vw;
    width:27vw;
    margin-right:12vw;
}
article h2{
    font-size:36px;
    margin-bottom:12vh;
}
article p{
    line-height:25px;
    font-size:14px;
}